html,
body {
  margin: 0;
  padding: 0;
  background: #eee;
}

body {
  color: #333;
  padding: 20px;
}

p,
h1,
h2,
h3,
ul {
  margin: 20px 0;
}

a {
  color: #3498db;
  text-decoration: none;
}
a img {
  border: 0;
}

#header {
  position: relative;
  margin-bottom: 20px;
}

#logo {
  z-index: 100;
  display: block;
}
#logo img {
  width: 100%;
  max-width: 180px;
  height: auto;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

#content {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  position: relative;
  z-index: 1;
}

ul {
  padding-left: 10px;
}

ul li {
  list-style-type: square;
}

ul.errors {
  margin: 20px;
}
ul.errors li {
  margin: 10px;
  list-style: disc;
}

#powered {
  font-size: 0.93em;
  color: #bbb;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  padding: 10px;
}
#powered a {
  color: #bbb;
}

code {
  background: #f5f2f0;
  padding: 2px;
  font-family: monospace;
  border: 1px solid #ddd;
}
